[Unit]
Description=Memory Hotplug
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/memory-hotplug.sh

[Install]
WantedBy=sysinit.target
