
[Unit]
Description=MODPROBE_WLAN_MODULE
After=firmware-links.service firmware.mount
Conflicts=shutdown.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/sbin/wifi_on.sh
ExecStop=/usr/sbin/wifi_off.sh

[Install]
WantedBy=default.target
