[Unit]
Description=INIT_AUDIO
Before=systemd-user-sessions.service sound.target multi-user.target
After=find_partitions.service firmware-links.service
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/init_qcom_audio start
ExecStop=/bin/init_qcom_audio stop

[Install]
WantedBy=default.target
