# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qseecomd, 1.0)

type qseecomd_t;
type qseecomd_exec_t;
type qseecomd_data_t;
type qseecomd_persist_t;
type qseecomd_initscript_t;
type qseecomd_initscript_exec_t;
type qseecomd_unit_t;
type qseecom_device_t;

init_daemon_domain(qseecomd_t, qseecomd_exec_t)
init_script_file(qseecomd_initscript_exec_t)
init_unit_file(qseecomd_unit_t)

dev_associate(qseecom_device_t)

logging_send_syslog_msg(qseecomd_t)

# /dev/qseecom
dev_manage_qseecom(qseecomd_t)
#dev_manage_generic_dirs(qseecomd_t)
dev_read_generic_chr_files(qseecomd_t)

# /dev/vde, dosfs_t
fs_list_dos(qseecomd_t)
fs_read_dos_files(qseecomd_t)

# /data/tzstorage
relabel_qseecomd_date(qseecomd_data_t)

files_list_var(qseecomd_t)
files_manage_var_dirs(qseecomd_t)
files_manage_var_files(qseecomd_t)
files_read_etc_files(qseecomd_t)
files_rw_leprop_sockets(qseecomd_t)
files_list_mnt(qseecomd_t)

# local
allow qseecomd_t self:unix_dgram_socket { create connect };
allow qseecomd_t self:capability { setgid setpcap setuid };
allow qseecomd_t self:process { setcap };

# search root directory
files_list_default(qseecomd_t)

# /data/tzstorage
files_manage_default_dirs(qseecomd_t)
files_manage_default_files(qseecomd_t)

# connect to leprop-service socket
connect_to_leprop_sockets(qseecomd_t)
