# CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
# CONFIG_QPNP_SMB5=y
# CONFIG_QPNP_FG_GEN4=y
# CONFIG_QCOM_SPMI_TEMP_ALARM=y
# CONFIG_QPNP_USB_PDPHY=y
# CONFIG_MODULE_SIG=y
# CONFIG_MODULE_SIG_FORCE=y
# CONFIG_MODULE_SIG_SHA512=y
# CONFIG_MODULE_SIG_ALL=y

CONFIG_CAN=y
CONFIG_CAN_TCAN4X5X=y
CONFIG_CAN_DBG_TCAN4X5X=y

CONFIG_LEDS_GPIO=y
