# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Before=local-fs.target
DefaultDependencies=no

[Mount]
What=ubi2:nvram
Where=/nvram
Type=ubifs
Options=noatime,data=ordered,noauto_da_alloc,discard,noexec,nodev,nosuid,noauto,x-systemd.automount
