[Unit]
Description= Persist Properties Service
SourcePath=/usr/bin/persist-prop
After=data.mount

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/persist-prop start
ExecStop=/usr/bin/persist-prop stop

[Install]
WantedBy=multi-user.target
