# Support Dual WLAN
CONFIG_CNSS_SUPPORT_DUAL_DEV=y
CONFIG_CNSS2=m
CONFIG_CNSS_ASYNC=n
CONFIG_CNSS_REQ_FW_DIRECT=y
CONFIG_CNSS_QMI_SVC=y
CONFIG_NL80211_TESTMODE=y
# CONFIG_FW_LOADER_USER_HELPER_FALLBACK is not set
# CONFIG_CFG80211_CRDA_SUPPORT is not set