CONFIG_VFIO_IOMMU_TYPE1=m
# CONFIG_VFIO_AMBA is not set
# CONFIG_VFIO_NOIOMMU is not set
CONFIG_VFIO_PLATFORM=m
# CONFIG_VFIO_PLATFORM_AMDXGBE_RESET is not set
# CONFIG_VFIO_PLATFORM_CALXEDAXGMAC_RESET is not set
CONFIG_IOMMU_DEBUGFS=y
CONFIG_DMABUF_MOVE_NOTIFY=y
# CONFIG_DMABUF_DEBUG is not set
CONFIG_DMABUF_SELFTESTS=y
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_SYSFS_STATS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_VFIO_MDEV=m
CONFIG_UDMABUF=y
# CONFIG_KIUMD=m
# CONFIG_VFIO_IOMMU_QCOM=m
CONFIG_VFIO=m
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_MEMFD_CREATE=y
CONFIG_TMPFS=y
CONFIG_POSIX_MQUEUE=y
