# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Create binderfs related device node for servicemanager
After=dev-binderfs.mount

[Service]
User=binder
Group=binder
Type=oneshot
RemainAfterExit=yes
NoNewPrivileges=true
CapabilityBoundingSet=CAP_FOWNER CAP_CHOWN CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_FOWNER CAP_CHOWN CAP_DAC_OVERRIDE
ExecStart=/etc/initscripts/create-binder

[Install]
WantedBy=sysinit.target
