# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description= Vendor Service manager Service
After=create-binder.service
SourcePath=/usr/bin/vndservicemanager

[Service]
User=binder
Group=binder
Restart=always
AmbientCapabilities=CAP_SYS_NICE
ExecStart=/usr/bin/vndservicemanager

[Install]
WantedBy=multi-user.target
Alias=servicemanager.service

