# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# /var/log is symbolic link to volatile/log
files_read_var_symlinks(syslogd_t)

# /var/run is symlinks to /run
files_read_var_symlinks(auditd_t)

fs_search_tmpfs(syslogd_t)
