# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

term_use_generic_ptys(ifconfig_t)

selinux_getattr_fs(ifconfig_t)
seutil_read_bin_policy(ifconfig_t)
