# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# systemd-tty-ask will read and write /dev/pts/0
# Todo: actually /dev/pts/0 should be user_devpts_t, will modify this rules after
# making clear why this file not transfer to user_devpts_t
term_use_generic_ptys(systemd_passwd_agent_t)

fs_search_tracefs(systemd_modules_load_t)
allow systemd_modules_load_t self:lockdown confidentiality;

init_read_runtime_files(systemd_userdbd_t)
init_read_runtime_files(systemd_logind_t)

init_read_runtime_files(systemd_journal_init_t)
term_use_generic_ptys(systemd_journal_init_t)
logging_list_logs(systemd_journal_init_t)
systemd_read_journal_files(systemd_journal_init_t)
fs_list_tmpfs(systemd_journal_init_t)

files_read_var_symlinks(systemd_tmpfiles_t)
files_relabel_var_symlinks(systemd_tmpfiles_t)

seutil_read_bin_policy(systemd_networkd_t)

seutil_read_bin_policy(systemd_generator_t)
