[Unit]
Description=Android Binder IPC
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/servicemanager
Restart=always

[Install]
WantedBy=sysinit.target
