# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
# This service file is designed to enable early ethernet mode on GVM.
# Customer needs to enable this service file based on the requirement.
# Flexibility is provided for the customers to modify IP and mac addresses.

[Unit]
Description=eth1 installer
DefaultDependencies=no

[Service]
User=net_admin
Group=net_admin
AmbientCapabilities=CAP_NET_ADMIN
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sh -c "echo 1 > /proc/sys/net/ipv4/conf/all/arp_ignore"
ExecStartPre=/bin/sh -c "echo 1 > /proc/sys/net/ipv4/conf/default/arp_ignore"
ExecStart=ifconfig eth1 up
ExecStop=ifconfig eth1 down
Nice=-20
Restart=on-failure
RestartSec=1ms

[Install]
WantedBy=sys-devices-platform-soc-23049000.qcom\x2cethernet-net-eth1.device
