# Debugging
CONFIG_DYNAMIC_DEBUG=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_PROFILING=y

# Console (Must-have in release build)
CONFIG_VIRTIO_CONSOLE=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
