# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
ACTION=="add", KERNEL=="kmsg", OWNER="root", GROUP="kmsg", MODE="0664"
