ACTION=="add", KERNEL=="android*", RUN+="/bin/sh -c 'chown root.system /sys/kernel/config/usb_gadget/g*/UDC && chmod 664 /sys/kernel/config/usb_gadget/g*/UDC'"
