[Unit]
SourcePath=/sbin/reboot-daemon
Description= reboot-daemon service
After=diag-reboot-app.service

[Service]
Type=simple
Restart=always
ExecStart=/sbin/reboot-daemon

[Install]
WantedBy=multi-user.target
