[Unit]
Description=Mount overlayfs on /etc
DefaultDependencies=no
After=overlay-workdir.service
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
SELinuxContext=system_u:system_r:overlay_etc_mounter_t:s0
ExecStart=/usr/libexec/overlay-mounter etc

[Install]
WantedBy=local-fs.target
