[Unit]
Description=Mount overlayfs on /etc
DefaultDependencies=no
After=overlay-workdir.service
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/overlay-mounter etc

[Install]
WantedBy=local-fs.target
