[Unit]
Description=Mount overlayfs on /data
DefaultDependencies=no
After=overlay-workdir.service
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
SELinuxContext=system_u:system_r:overlay_data_mounter_t:s0
ExecStart=/usr/libexec/overlay-mounter data

[Install]
WantedBy=local-fs.target
