# Copyright (c) 2024, Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


[Unit]
Before=local-fs.target

[Mount]
Type=ext4
What=/dev/disk/by-partlabel/vm-systemrw
Where=/vm_systemrw
Options=rw,context=system_u:object_r:vm_systemrw_t:s0
