[Unit]
Description=rild Service Script
After=sysinit.target

[Service]
Type=simple
ExecStart=/usr/bin/rild -l /usr/lib64/libril-qc-qmi-1.so
Restart=always

[Install]
WantedBy=multi-user.target
