[Unit]
Description=rild Service Script
SourcePath=/usr/bin/start_rild
After=sysinit.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/start_rild start
ExecStop=/usr/bin/start_rild stop

[Install]
WantedBy=multi-user.target
