[Unit]
Description=rild Service Script
DefaultDependencies=no
After=sysinit.target
Before=basic.target

[Service]
Type=simple
ExecStart=/usr/bin/rild -l /usr/lib64/libril-qc-qmi-1.so
Restart=always

[Install]
WantedBy=basic.target
