# CONFIG_MODULE_SIG_FORCE is not set
# CONFIG_QCOM_MEMORY_DUMP_V2 is not set
# CONFIG_QCOM_SOC_DEBUG is not set
CONFIG_PANIC_TIMEOUT=0
# CONFIG_ARM_SCMI_CPUFREQ is not set
CONFIG_IOMMU_DEFAULT_DMA_LAZY=y
