[Unit]
Description= Recovery Service
After=find-recovery-partitions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/recovery

[Install]
WantedBy=multi-user.target
