
CONFIG_SECURITY_SMACK_BRINGUP=y

# Trace
CONFIG_FTRACE=y
CONFIG_HAVE_DYNAMIC_FTRACE=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_EVENT_TRACING=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_PREEMPTIRQ_EVENTS=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_TRACING=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_TRACER_MAX_TRACE=y

# Debugging
CONFIG_DEBUG_LIST=y
CONFIG_SLUB_DEBUG=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_INFO=y
CONFIG_DEVMEM=y
