# "[]": is used to configure the name of tether interface.
# Attention: the name should be "tetherXXX"
[tether1]
# "Interface": is used to configure which eth interface is managed by tether
# Attention: only support to manage one interface
Interface = eth2
# "Host": is used to configure the ip address of tether interface
Host = 192.168.1.1
#
# "Netmask": only support mask 24. It is a limitation.
#
# "Client": is used to configure a static ip to client
# Attention: "Client" and "DHCP" is alternative.
Client = 192.168.1.30

# "[]": is used to configure the name of tether interface.
# Attention: the name should be "tetherXXX"
[tether2]
# "Interface": is used to configure which eth interface is managed by tether
# Attention: only support to manage one interface
Interface = eth1
# "Host": is used to configure the ip address of tether interface
Host = 192.168.0.1
#
# "Netmask": only support mask 24. It is a limitation.
#
# "DHCP": is used to counfigure DHCP range, from 2 to 254.
# If you want to configure a specific static ip address on client side,
# you must configure it out of this range.
# Attention: "Client" and "DHCP" is alternative.
DHCP = 192.168.0.2,192.168.0.100
