# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Pre-populate blkid cache for root device
DefaultDependencies=no
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/blkid-cache-init.sh

[Install]
WantedBy=basic.target
