# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
# This service file is designed to route TX traffic on eth1 interface.
# Customer needs to enable this service file based on the requirement.
# Flexibility is provided for the customers to modify QoS using TC.
[Unit]
Description=eth1 QOS installer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=tc qdisc add dev eth1 handle 100: parent root mqprio num_tc 4 map 0 2 1 2 3 2 2 2 2 2 2 2 2 2 2 2 queues 1@0 1@1 1@2 1@3 hw 0
ExecStop=tc qdisc del dev eth1 root
Nice=-20
Restart=on-failure
RestartSec=1ms

[Install]
WantedBy=multi-user.target
